.dataDotViz-theme {
  --font-family-stack: 'Noto Sans', sans-serif;
  --font-family-base: Noto Sans;
  --font-line-height-regular-unitless: 1.65;
  --font-line-height-smaller-unitless: 1.45;
  --font-style-base: 400 16px / 1.65 'Noto Sans', sans-serif;
  --font-style-caption: 400 16px / 1.65 'Noto Sans', sans-serif;
  --font-style-heading: 600 16px / 1.45 'Noto Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --color-light-background-selection: #f0f1f3; /* Background for selections */
  --color-light-background-base: #ffffff; /* The default light background color, used e.g. as a backdrop for charts or cards. */
  --color-light-background-weaker: #f6f7f9; /* A slightly shaded background color, used e.g. as a backdrop behind card elements. */
  --color-light-foreground-base: #222222; /* Used for elements in the foreground that have a strong contrast to the background. */
  --color-light-foreground-weaker: #71757d; /* Used for elements in the foreground that have a weaker contrast to the background (e.g. axes). */
  --color-light-foreground-weakest: #c2c6ce; /* Used for elements in the foreground that have the weakest contrast to the background (e.g. ticks, help-lines) */
  --color-light-text-base: #222222; /* Default text color for strong background contrast. */
  --color-light-text-weaker: #71757d; /* Text color with weaker background contrast. */
  --color-light-functional-not-available: #b2b2b2; /* Used for visual marks (e.g. countries in maps) where data is missing from the dataset. */
  --color-light-functional-filtered-out-base: #d9dae2; /* Used for visual marks in charts that have been filtered out. */
  --color-light-functional-selection-0-base: #f4a81d; /* Used for first selection. */
  --color-light-functional-selection-default-base: #008dc9; /* Used for selections of reference data (e.g. worldwide). */
  --color-light-brand-base: #008dc9; /* WHO brand color. */
  --color-light-brand-stronger: #0f2d5b; /* WHO brand color with stronger contrast */
  --color-light-brand-weaker: #90d3fb; /* WHO brand color with weaker contrast */
  --color-light-category-base-0: #f4a81d; /* Used for nominal data of category 0. */
  --color-light-category-base-1: #f26829; /* Used for nominal data of category 1. */
  --color-light-category-base-2: #bd53bd; /* Used for nominal data of category 2. */
  --color-light-category-base-3: #6363c0; /* Used for nominal data of category 3.  */
  --color-light-category-base-4: #008dc9; /* Used for nominal data of category 4. */
  --color-light-category-base-5: #40bf73; /* Used for nominal data of category 5. */
  --color-light-category-stronger-0: #cc850a; /* Used for nominal data of category 0 when visual elements are small. */
  --color-light-category-stronger-1: #e85130; /* Used for nominal data of category 1 when visual elements are small. */
  --color-light-category-stronger-2: #bd53bd; /* Used for nominal data of category 2 when visual elements are small. */
  --color-light-category-stronger-3: #6363c0; /* Used for nominal data of category 3 when visual elements are small. */
  --color-light-category-stronger-4: #008dc9; /* Used for nominal data of category 4 when visual elements are small. */
  --color-light-category-stronger-5: #37a463; /* Used for nominal data of category 5 when visual elements are small. */
  --color-light-category-text-0: #754d06; /* Used for text associated with data of category 0 (complies with AAA standards for large and small text). */
  --color-light-category-text-1: #9a3709; /* Used for text associated with data of category 1 (complies with AAA standards for large and small text). */
  --color-light-category-text-2: #8e2f8e; /* Used for text associated with data of category 2 (complies with AAA standards for large and small text). */
  --color-light-category-text-3: #4b4baf; /* Used for text associated with data of category 3 (complies with AAA standards for large and small text). */
  --color-light-category-text-4: #245993; /* Used for text associated with data of category 4 (complies with AAA standards for large and small text). */
  --color-light-category-text-5: #1d6339; /* Used for text associated with data of category 5 (complies with AAA standards for large and small text). */
  --color-light-category-trend-worsening-base: #cf7e50; /* Used to indicate worsening conditions. */
  --color-light-category-trend-stagnating-base: #746985; /* Used to indicate stagnating conditions. */
  --color-light-category-trend-stagnating-text: #746985;
  --color-light-category-trend-improving-base: #27a3b4; /* Used to indicate improving conditions. */
  --color-light-category-trend-unspecified-text: #4a4e58;
  --color-dark-background-selection: #282b43; /* Background for selections */
  --color-dark-background-base: #171a33; /* The default dark background color, used e.g. as a backdrop for charts or cards. */
  --color-dark-background-weaker: #24273d; /* A slightly shaded background color, used e.g. as a backdrop behind card elements. */
  --color-dark-functional-not-available: #24273d; /* Used for visual marks (e.g. countries in maps) where data is missing from the dataset. */
  --color-dark-functional-filtered-out-base: #343856; /* Used for visual marks in charts that have been filtered out. */
  --color-dark-functional-selection-0-base: #f4a81d;
  --color-dark-functional-selection-default-base: #008dc9; /* Used for smaller visual marks in charts that have been filtered out (min. contrast 3:1). */
  --color-dark-brand-base: #008dc9; /* WHO blue */
  --color-dark-brand-weaker: #1f4c7e; /* WHO blue with weaker contrast */
  --color-dark-brand-stronger: #90d3fb; /* WHO blue with stronger contrast */
  --color-dark-foreground-base: #eaeaea; /* Used for elements in the foreground that have a strong contrast to the background. */
  --color-dark-foreground-weaker: #9597ae; /* Used for elements in the foreground that have a weaker contrast to the background (e.g. axes). */
  --color-dark-foreground-weakest: #696c85; /* Used for elements in the foreground that have the weakest contrast to the background (e.g. ticks, help-lines) */
  --color-dark-text-base: #eaeaea; /* Default text color for strong background contrast. */
  --color-dark-text-weaker: #a9abbd; /* Text color with weaker background contrast. */
  --color-dark-category-text-0: #f4a81d;
  --color-dark-category-text-1: #fd8750;
  --color-dark-category-text-2: #ee7cee;
  --color-dark-category-text-3: #999ff5;
  --color-dark-category-text-4: #25b3ef;
  --color-dark-category-text-5: #39c671;
  --color-dark-category-base-0: #f4a81d;
  --color-dark-category-base-1: #f26829;
  --color-dark-category-base-2: #bd53bd;
  --color-dark-category-base-3: #8a91f3;
  --color-dark-category-base-4: #008dc9;
  --color-dark-category-base-5: #39c671;
  --color-dark-category-stronger-0: #f4a81d;
  --color-dark-category-stronger-1: #f26829;
  --color-dark-category-stronger-2: #bd53bd;
  --color-dark-category-stronger-3: #8a91f3;
  --color-dark-category-stronger-4: #008dc9;
  --color-dark-category-stronger-5: #39c671;
  --color-dark-category-trend-worsening-base: #cf7e50;
  --color-dark-category-trend-stagnating-base: #b2a6cf;
  --color-dark-category-trend-stagnating-text: #b2a6cf;
  --color-dark-category-trend-improving-base: #27a3b4;
  --color-dark-category-trend-unspecified-text: #97949a;
  --sizeset-large-space-xxl: 28.5px;
  --sizeset-large-space-xl: 21px;
  --sizeset-large-space-l: 13.5px;
  --sizeset-large-space-m: 12px;
  --sizeset-large-space-s: 10.5px;
  --sizeset-large-space-xs: 7.9px;
  --sizeset-large-space-xxs: 5.3px;
  --sizeset-large-font-size-xxxl: 112px;
  --sizeset-large-font-size-xxl: 38px;
  --sizeset-large-font-size-xl: 28px;
  --sizeset-large-font-size-l: 18px;
  --sizeset-large-font-size-m: 16px;
  --sizeset-large-font-size-s: 14px;
  --sizeset-medium-space-xxl: 21.1px;
  --sizeset-medium-space-xl: 14.5px;
  --sizeset-medium-space-l: 10.6px;
  --sizeset-medium-space-m: 9.2px;
  --sizeset-medium-space-s: 7.9px;
  --sizeset-medium-space-xs: 5.9px;
  --sizeset-medium-space-xxs: 4px;
  --sizeset-medium-font-size-xxxl: 90px;
  --sizeset-medium-font-size-xxl: 32px;
  --sizeset-medium-font-size-xl: 22px;
  --sizeset-medium-font-size-l: 16px;
  --sizeset-medium-font-size-m: 14px;
  --sizeset-medium-font-size-s: 12px;
  --sizeset-small-space-xxl: 9px;
  --sizeset-small-space-xl: 7px;
  --sizeset-small-space-l: 6px;
  --sizeset-small-space-m: 6px;
  --sizeset-small-space-s: 5px;
  --sizeset-small-space-xs: 3.8px;
  --sizeset-small-space-xxs: 2.5px;
  --sizeset-small-font-size-xxxl: 48px;
  --sizeset-small-font-size-xxl: 18px;
  --sizeset-small-font-size-xl: 14px;
  --sizeset-small-font-size-l: 12px;
  --sizeset-small-font-size-m: 12px;
  --sizeset-small-font-size-s: 12px;
}
